:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-grey: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
  --padding-horizontal: 12rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  margin: 0;
  font-size: 93.75%; }
  @media only screen and (max-width: 375px) {
    html {
      font-size: 75%; } }

body {
  font-family: Josefin Sans, sans-serif;
  font-size: inherit; }

.container {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 375px) {
    .container {
      width: 100vw; } }

.header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  padding: 3rem var(--padding-horizontal) 11rem var(--padding-horizontal);
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 23.4375em) {
    .header {
      width: 100vw;
      padding: 3rem 2rem; } }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 375px) {
      .header__top > nav {
        display: none; } }
  .header__text {
    font-size: 5.5rem;
    color: var(--color-white);
    border: 3px solid var(--color-white);
    padding: 1rem;
    max-width: 59%;
    flex-wrap: wrap;
    text-transform: uppercase;
    flex-basis: 40%; }
    @media only screen and (max-width: 375px) {
      .header__text {
        font-size: 3.2rem;
        padding: 1rem;
        max-width: 100%; } }

.main {
  padding: 0 var(--padding-horizontal);
  margin-top: 10rem; }
  @media only screen and (max-width: 375px) {
    .main {
      padding: 0 1.5rem; } }

.creation {
  margin: 10rem 0;
  position: relative; }
  @media only screen and (max-width: 375px) {
    .creation {
      margin: 5rem 0;
      padding: 3rem 2rem; } }
  .creation__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 375px) {
      .creation__top {
        justify-content: center; }
        .creation__top > .btn {
          position: absolute;
          bottom: -2rem; } }
  .creation__main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 20px; }
    @media only screen and (max-width: 375px) {
      .creation__main {
        display: flex;
        flex-direction: column; } }

.footer {
  background-color: var(--color-black);
  padding: 2rem var(--padding-horizontal);
  display: flex;
  flex-direction: column;
  color: var(--color-white); }
  @media only screen and (max-width: 375px) {
    .footer {
      padding: 1rem; }
      .footer > * {
        flex-direction: column; } }
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer__top > .logo {
      margin-right: 0; }
  .footer__bottom {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 375px) {
      .footer__bottom > nav > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
  .footer__legal {
    color: var(--color-dark-grey);
    font-family: Alata, sans-serif; }
  .footer__socials {
    list-style: none;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 375px) {
      .footer__socials {
        margin-top: 1rem; } }
  .footer__items {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px; }
    .footer__items:not(:last-child) {
      margin-right: 1rem; }
    @media only screen and (hover: hover) {
      .footer__items::before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: -0.5rem;
        background-color: white;
        height: 1.5px;
        margin: 0 auto;
        opacity: 0;
        cursor: pointer;
        transition: all 0.2s; } }
    .footer__items:hover::before {
      opacity: 1; }
  .footer__icon {
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 375px) {
      .footer__icon {
        width: 80%;
        height: 80%; } }

.logo {
  margin-right: auto; }
  @media only screen and (max-width: 375px) {
    .logo {
      width: 100px; } }

.nav {
  color: var(--color-white); }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative; }
  .nav__item {
    margin: 0 1rem; }
    @media only screen and (max-width: 375px) {
      .nav__item {
        margin: 0 0 0.5rem 0; } }
    .nav__item:first-child {
      margin-left: 0; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link:link, .nav__link:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    position: relative; }
    .nav__link:link:not(:last-child), .nav__link:visited:not(:last-child) {
      margin-right: 1rem; }
    .nav__link:link::before, .nav__link:visited::before {
      content: '';
      width: 50%;
      position: absolute;
      background-color: currentColor;
      height: 1.5px;
      bottom: -75%;
      left: 25%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s; }
  .nav__link:hover::before {
    opacity: 1;
    visibility: visible; }

.description {
  position: relative; }
  @media only screen and (max-width: 375px) {
    .description {
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column; } }
  .description__image {
    display: block; }
  .description__text {
    background-color: white;
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    height: 70%;
    padding: 7rem 0 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .description__text span:last-child {
      letter-spacing: 1.5px;
      line-height: 1.5;
      font-weight: 600;
      color: var(--color-dark-grey); }
    @media only screen and (max-width: 375px) {
      .description__text {
        position: relative;
        padding: 0;
        height: 100%;
        width: 100%;
        margin-top: 2rem;
        text-align: center; } }

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase; }

@media only screen and (max-width: 375px) {
  .heading {
    font-size: 2rem; } }

.btn {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  padding: 0.5rem 2rem;
  letter-spacing: 2px;
  font-family: Alata, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s; }
  @media only screen and (hover: hover) {
    .btn:hover {
      background-color: var(--color-black);
      color: var(--color-white); } }

.figure {
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 375px) {
    .figure {
      height: 200px;
      background-size: cover;
      overflow: hidden; }
      .figure:not(:last-child) {
        margin-bottom: 1rem; } }
  .figure__photo {
    margin: 0;
    display: block;
    width: 100%;
    filter: brightness(70%); }
  .figure__caption {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    max-width: 20%;
    padding: 2rem; }
  @media only screen and (hover: hover) {
    .figure:hover .figure__photo {
      opacity: 40%; }
    .figure:hover .figure__caption {
      color: black; } }

.menu {
  display: none; }
  @media only screen and (max-width: 375px) {
    .menu {
      display: inline-block; } }
  .menu__checkbox {
    display: none; }
  .menu__button {
    display: flex;
    align-items: center;
    width: 18px;
    height: 18px;
    cursor: pointer; }
  .menu__icon {
    position: relative;
    transition: background-color 0.3s; }
    .menu__icon::before, .menu__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.5s; }
    .menu__icon, .menu__icon::before, .menu__icon::after {
      background-color: white;
      width: 18px;
      height: 1px;
      display: inline-block; }
    .menu__icon::before {
      top: -0.5rem; }
    .menu__icon::after {
      top: 0.5rem; }
  .menu__checkbox:checked + .menu__button .menu__icon {
    background-color: transparent; }
    .menu__checkbox:checked + .menu__button .menu__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .menu__checkbox:checked + .menu__button .menu__icon::after {
      top: 0;
      transform: rotate(45deg); }
